.about__wrapper {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 92vh !important;

  h1 {
    font-family: Poppins;
    font-size: 40px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: center;
    margin-top: 70px;
    height: 120px;
    width: 60%;
    margin-bottom: 71px;

    @media screen and (max-width: 768px) {
      font-size: 30px;
      line-height: 45px;
      height: auto;
      margin-bottom: 45px;
      font-weight: 600;
    }
  }

  @media screen and (max-width: 768px) {
    padding: 0px;
    margin-bottom: 0px;
  }
}

.about__cards {
  display: flex;
  flex-wrap: wrap;
  @media screen and (max-width: 768px) {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.about__card-last {
  height: 361px;
  width: 610px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  position: relative;
  border: 1px solid #ffffff;
  box-shadow: 1px 4px 12px 0px #c1c1c175;
  transition: all 0.5s ease-in-out;

  img {
    height: 128px;
    width: 128px;
    border-radius: 0px;
    margin-right: 41px;
    margin-top: 70px;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    margin-top: 153px;

    h2 {
      font-family: Poppins;
      font-size: 24px;
      font-weight: 500;
      line-height: 21px;
      letter-spacing: 0.25px;
      text-align: left;
      height: 24px;
      width: 240px;
      margin-bottom: 50px;
      border-radius: nullpx;
    }

    p {
      font-family: Poppins;
      font-size: 40px;
      font-weight: 400;
      line-height: 26px;
      letter-spacing: 0em;
      text-align: left;
      color: #444444;
      height: 112px;
      width: 399.9251403808594px;
      border-radius: nullpx;
    }
  }

  @media screen and (max-width: 768px) {
    height: auto;
    width: 80%;
    border-radius: 20px;
    display: flex;
    padding: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    border: 1px solid #ffffff;
    box-shadow: 1px 4px 12px 0px #c1c1c175;
    margin-bottom: 45px;
    flex: 1 0 21%;

    img {
      height: 50px;
      width: 50px;
      border-radius: 0px;
      margin-bottom: 2px;
    }
    div {
      margin-top: 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;

      h2 {
        font-family: Poppins;
        font-size: 24px;
        font-weight: 600;
        line-height: 21px;
        letter-spacing: 0.25px;
        text-align: left;
        margin: 20px 0px;
        color: #3b3f5c;
      }

      p {
        font-size: 18px;
        text-align: center;
      }
    }
  }

  &:hover {
    transform: scale(1.05);
    box-shadow: 1px 4px 12px 0px #c1c1c175;
    border: 1px solid #3b3f5c;
  }
}
