.footer__wrapper {
  height: 600px;
  width: 100%;

  .footer__top {
    height: 111px;
    width: 100%;
    border-radius: 0px;
    padding: 5px;
    background-color: #7d8184;

    display: flex;
    justify-content: space-between;
    align-items: center;

    div:first-child {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 200px;

      .social__icons {
        margin-right: 41px;
        color: #fff;
        height: 34.78740310668945px;
        width: 35px;
        left: 0px;
        top: 0px;
        border-radius: 0px;

        &:hover {
          cursor: pointer;
          color: aqua;
        }
      }

      @media screen and (max-width: 768px) {
        margin: 0;
        padding: 20px 0;
      }
    }

    div:last-child {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 61px;
      border-radius: 10px;

      input {
        height: 61px;
        width: 607px;
        border-radius: 10px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border: 1px solid #a5a6a8;
        font-family: Poppins;
        font-size: 24px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0.800000011920929px;
        text-align: left;
        padding-left: 10px;

        outline: none;

        @media screen and (max-width: 768px) {
          width: 60%;
          height: auto;
          font-size: 14px;
          border-radius: 0;
        }
      }

      button {
        height: 61px;
        width: 183px;
        border: 1px solid #000000;
        border-radius: [object Object]px;
        background: #000000;

        font-family: Poppins;
        font-size: 24px;
        font-weight: 700;
        line-height: 34px;
        letter-spacing: 0.8399999737739563px;
        text-align: center;
        color: #ffffff;

        @media screen and (max-width: 768px) {
          width: 40%;
          height: 30px;
          font-size: 14px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      @media screen and (max-width: 768px) {
        width: 60%;
      }
    }

    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 10px;
      height: auto;
    }
  }

  @media screen and (max-width: 768px) {
    width: 100%;
    margin: 0;
    margin-top: 20px;
    height: auto;
  }
}
